build*
install/*
code_saturn_trunk/.git/*
*.user
*.[oa]
build*/
__pycache__/
.ipynb_checkpoints/
*.log
examples/virtual_cluster/.oardocker/
examples/virtual_cluster/oar-docker/
examples/virtual_cluster/env*/
install-oardocker/*