install/*
code_saturn_trunk/.git/*
*.user
*.[oa]
build*/
__pycache__/
.ipynb_checkpoints/
*.log
utility/virtual_cluster/.oardocker/
utility/virtual_cluster/oar-docker/
utility/virtual_cluster/env*/
install-oardocker/*
